html, body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica", "Droid Sans" !important
}
input, button {
	line-height: 22pt;
	font-size: 20pt;
}
#control {
	width: 100%;
  text-align: center; 	
	margin-top: 10px;
	z-index: 0;
}
#word-query {
	width: 70%;
	height: 30px;
	max-width: 600px;
	text-align: center;
	z-index: 0;
}
#search {
	width: 10%;
	min-width: 100px;
	z-index: 0;
}
#definitions {
	text-align: center;
	padding: 7px;
}
@media screen and (max-width : 600px) {
	#word-query {
		width: 90%;
	}
	#search {
		margin-top: 10px;
		width: 90%;
	}
}
